In [15]:
'''
What rank is Tame Impala on my spotify dataset?

-filter out name section to get number of row
-find rank number and put inside a variable, then print
'''
import pandas

spotify_data = pandas.read_csv("spotify_artist_data.csv")


rank = spotify_data[spotify_data['Artist Name'].str.contains('Tame Impala')]
rank

,Unnamed: 0,Artist Name,Lead Streams,Feats,Tracks,One Billion,100 Million,Last Updated
213,214,Tame Impala,"5,214,042,684","174,098,397",101,1,11,20.09.22

In [ ]:
'''
1a) This dataset includes all spotify artists and their ranking, lead streams, feats, tracks, and their streams in billions 
and 100 millions. 

2a) I was really interested in this data because one of my favorite hobbies are listening to music. I've always wanted to know
how popular the artists I regularly listen to are.

3a) Through my analysis I found out that Tame Impala ranks around 214 among spotify's top artists with 1.11 billion streams and
their most streamed song having 5 billion streams.
'''