In [1]:
'''
What rank is Bruno Mars on my spotify dataset?
'''

import pandas

spotify_data = pandas.read_csv("spotify_artist_data.csv")


rank = spotify_data[spotify_data['Artist Name'].str.contains('Bruno Mars')]
rank

,Unnamed: 0,Artist Name,Lead Streams,Feats,Tracks,One Billion,100 Million,Last Updated
25,26,Bruno Mars,"18,201,285,113","3,874,562,483",81,5,32,06.09.22

In [2]:
'''
What rank is Rex Orange County?
'''

import pandas

spotify_data = pandas.read_csv("spotify_artist_data.csv")


rank = spotify_data[spotify_data['Artist Name'].str.contains('Rex Orange County')]
rank

,Unnamed: 0,Artist Name,Lead Streams,Feats,Tracks,One Billion,100 Million,Last Updated
344,345,Rex Orange County,"3,678,846,424","138,810,390",58,0,8,11.09.22

In [4]:
'''
What rank is Olivia Rodrigo?
'''

import pandas

spotify_data = pandas.read_csv("spotify_artist_data.csv")


rank = spotify_data[spotify_data['Artist Name'].str.contains('Olivia Rodrigo')]
rank

,Unnamed: 0,Artist Name,Lead Streams,Feats,Tracks,One Billion,100 Million,Last Updated
84,85,Olivia Rodrigo,"8,954,631,138","1,691,988",37,2,13,19.09.22